.page {
  padding: 60px;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 60px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  background: #b15a5a;
  color: #fff;
  font-family: "Delicious Handrawn", cursive;
  font-size: 18px;
  padding: 20px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  border: 2px solid black;
  transition: all 1s;
}

.img {
  height: 300px;
  border: 2px solid black;
  border-radius: 15px;
  transition: all 1s;
}

.img:hover {
  position: relative;
  z-index: 10;
  scale: 1.5;
  transform: translate(0px, 100px);
}

.box-shedow {
  box-shadow: 0 0 60px brown;
}

.box-gradient {
  background: linear-gradient(blue, pink);
}

.box-around {
  border-radius: 20px;
}

.box-translate {
  transform: translate(0px, 40px);
}

.box-hover:hover {
  scale: 2;
  position: relative;
  z-index: 10;
  border-radius: 20px;
  background: linear-gradient(rgb(48, 171, 175), rgb(214, 79, 102));
  transform: translate(0px, 100px);
  transition: all 1s;
}

/* slider */

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin-top: 60px;
}

.slider-item {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-item.active {
  opacity: 1;
}

.slider-img {
  height: 100%;
  padding: 5px;

  background: #b15a5a;
}

/* gallery */

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-right: 20px;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.preview {
  width: 40%;
}

.preview img {
  width: 100%;
  border-radius: 5px;
}
